<!DOCTYPE html>
<html>
<head>
  <title>Airport Distance Calculator</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.29key=AIzaSyDr-DDXM7q0H09fMSLw4Ypgl4Fw2syaKwg" %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'airplane.ico' %>
</head>
<body>

<main id="root"></main>
<%= yield %>
</body>
</html>
